.container {
    width: 400px; /* Ajustez la largeur et la hauteur selon vos besoins */
    height: 400px;
    margin: 200px auto;
    margin-bottom: 0px;
}

.rotating-element {
    background-color: blue; /* Couleur de fond de l'objet */
    /* position: absolute; */
    top: 50%;
    transform-origin: center;
    transition: transform 1000ms linear;
}

#buttons {
    /* position: absolute; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
}

.button {
    /* position: absolute; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff; /* Couleur du fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none;
    cursor: pointer;
}

.button:nth-child(1) {
    transform: translate(410px, -30px); /* Ajustez la position du bouton en fonction de l'image */
}

.button:nth-child(2) {
    transform: translate(-63px, -111px);
}

.button:nth-child(3) {
    transform: translate(-106px, -69px);
}

.button:nth-child(4) {
    transform: translate(-141px, -31px);
}

.button:nth-child(5) {
    transform: translate(-173px, 5px);
}

.button:nth-child(6) {
    transform: translate(-195px, 43px);
}

.button:nth-child(7) {
    transform: translate(-213px, 79px);
}

.button:nth-child(8) {
    transform: translate(-225px, 112px);
}

.button:nth-child(9) {
    transform: translate(-230px, 139px);
}

.button:nth-child(10) {
    transform: translate(-231px, 161px);
}

.button:nth-child(11) {
    transform: translate(-232px, 181px);
}